.time{
  background-color: whitesmoke;
  height: 83vh;
  h1{
    margin: 0;
    padding-top: 20px;
    text-align: center;
  }
  h2{
    text-align: center;
  }
  .time_container{
    width: 80%;
    margin: 0 auto;
    display: grid;
    gap: 30px 30px;
    grid-template-columns: repeat(auto-fill, 300px);
    align-items: center;
    justify-content: center;
    
  }
  .time_item{
    background-color: white;
    border: 0px solid black;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    &:hover{
      cursor: pointer;
      background-color: cornflowerblue;
      color: white;
    }
  }
}